.testimonial {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.testimonial h2 {
    font-size: 24px;
    color: #333;
}

.testimonial-card {
    background-color: #87adf5;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    border-radius: 10px;
}

.client-name {
    font-weight: bold;
}
